.show-blog-form .form-field-container{
    display: flex;
    /* background-color: red; */
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    justify-content: start;
}


.form-button-container{
    /* background-color: orange; */
    display: flex;
    align-items: start;
    justify-content: start;
}

/* .form-button-container .edit-button-form-container
{
    background-color: lightcoral;
}
.form-button-container .delete-button-form-container
{
    background-color: lightcoral;
} */

.show-blog-form .form-field-container .edit-post{
    cursor: pointer;    
}    
.show-blog-form .form-field-container .delete-post{
    background-color: rgb(147, 0, 0) !important;
    cursor: pointer;        
}


